:root {
  --main-bg-color: #000000;
  --main-txt-color: white;
  --second-color: #ff9900;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  overflow-x: hidden;
}

body {
  height: 100%;
  background: #f1f1f1;  /* fallback for old browsers */
  color: #000000;
}

/*  NAVBAR  */

.header {
  height: 100px;
  padding: 0 20px;
  background: white;
}

.header img{
  line-height: 100px;
  float: left;
  width: 150px;
}

.menu {
  float: right;
  line-height: 100px;
}

.menu a {
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  letter-spacing: 1.5px;
  transition: 0.4s;
}

.show-menu-btn, .hide-menu-btn {
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.show-menu-btn {
  float: right;
}

.show-menu-btn i {
  line-height: 100px;
}

.menu a:hover, 
.show-menu-btn:hover, 
.hide-menu-btn:hover {
  color: var(--second-color);
}

#chk {
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

@media screen and (max-width: 800px) {
  .show-menu-btn, .hide-menu-btn {
    display: block;
  }
  .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--second-color);
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s ease;
  }
  .menu a {
    display: block;
    padding: 20px;
  }
  .hide-menu-btn {
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #chk:checked ~ .menu {
    right: 0;
  }
}

/* HEADER */

.content-index {
  display: grid;
  grid-template-areas: "img text";
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  text-align: center;
  place-content: center;
} 

.header-left {
  grid-area: img;
}

.header-right {
  grid-area: text;
  background: white;
  text-transform: uppercase;
}

.header-right h4 {
  font-size: 1.5rem;
  font-weight: 100;
  color: #000000;
  font-family: 'Vidaloka', serif;
}

.header-right h1 {
  font-size: 4rem;
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Vidaloka', serif;
  color: #ff9900;
}

.content-index .header-left img {
  width: 100%;
  min-width: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* BANNER SOCIAL */


#banner-rate {
  background: white;
  box-shadow: 0 0 10px rgba(194, 130, 70, 0.7);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-items: center;
  padding: 30px;
}

#banner-rate img {
  max-width: 300px;
  max-height: 55px;
}

#banner-rate p {
  color: black;
  text-align: center;
  font-size: 2rem;
  font-weight: 100;
}

@media screen and (max-width: 1000px) {
  #tripad {
    display: none;
    position: absolute;
  }
}

/* ABOUT */

.content-about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  padding: 40px 0;
}

.text-about {
  justify-items: end;
}

.text-about h1, .apart-text h1, #testimonials h1 {
  color: var(--second-color);
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;
}

.text-about p, .apart-text p  {
  padding: 0 100px 0 100px;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 100;
}

.content-about img, .apart-video img {
  max-width: 840px;
  width: 100%;
}


/* APARTMENT INDEX PAGE */

#apartment {
  padding: 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #fff;
  color: #000000;
  place-items: center;
}

@media screen and (max-width: 1200px) {
  .content-about, #apartment {
    grid-template-columns: 1fr;
    padding: 40px 0;;
  }
  .text-about, .apart-text {
    margin-bottom: 40px;
  }
  .text-about p, .apart-text p  {
    padding: 0 30px 0 30px;
  }
  .apart-video:nth-of-type(1) {
    order: 2;
  }
  .apart-text:nth-of-type(2) {
    order: 1;
  }
  .content-about img, .apart-video img {
    border-radius: 0;
  }
  .content-index {
    grid-template-areas: "text" 
                         "img";
    grid-template-columns: 1fr;
  }
  .content-index .header-right {
    padding: 100px 0 100px 0;
  }
}

/* TESTIMONIALS */


#testimonials{
  padding: 40px 0;
  color: #000000;
  text-align: center;
}

.inner{
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.border{
  width: 160px;
  height: 5px;
  background: #ff9900;
  margin: 26px auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.col{
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}
.testimonial{
  background: white;
  padding: 30px;
}
.testimonial img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.name{
  font-size: 20px;
  color: #ff9900;
  text-transform: uppercase;
  margin: 20px 0;
}
.stars{
  color: #ff9900;
  margin-bottom: 20px;
}

#testimonials .logo-review img {
  width: 100px;
}


@media screen and (max-width:960px) {
.col{
  flex: 100%;
  max-width: 80%;
}
}

@media screen and (max-width:600px) {
.col{
  flex: 100%;
  max-width: 100%;
}
}

/* FOOTER */

footer {
  padding: 10px;
  color: #000000;
  background: white;
  max-height: 400px;
  display: grid;
  border-top: 2px solid white;
  grid-template-columns: 1fr 1fr 1fr;
}

footer p {
  font-size: 0.8rem;
}

footer a {
  color: #000000;
  font-size: 0.8rem;
}

footer ul {
  list-style-type: none;
}

footer li {
  text-indent: -1.4em;
  margin-right: 1px;
  font-size: 0.8rem;
}

.left-footer {
  text-align: start;
  text-transform: uppercase;
}

.central-footer {
  text-align: center;
}

.central-footer img {
  max-width: 150px;
}

.powered-by {
  margin-top: 10px;
}

.powered-by a:hover {
  color: #ff9900;
}

.right__footer {
  text-align: end;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.item__info__footer {
  grid-row: -1 / 4;
  margin: 5px;
}

.item__info__footer i {
  color: #000000;
}

.item__social__footer {
  text-align: start;
}

.item__social__footer .social-btn {
  display: inline-block;
  border-radius: 50%;
  color: #000000;
  border: 2px solid #000000;
  padding: 20px;
  width: 20px;
  height: 20px;
}

.item__social__footer .social-btn:hover {
  background: #ff9900;
  color: #f1f1f1;
  transition: 0.5s;
  border: 2px solid #ff9900;
}


.social-btn a {
  text-align: center;
}

@media screen and (max-width: 640px) {
  .item__social__footer, .central-footer {
    visibility: hidden;
    position: absolute;
  }
}