:root {
  --main-bg-color: #3c3c3c;
  --main-txt-color: white;
  --second-color: #ff9900;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  overflow-x: hidden;
}

body {
  height: 100%;
  background: var(--main-txt-color);
  color: var(--main-bg-color);
}


/* ------------- INDEX PAGE ----------------- */

#closed {
  font-size: 20px;
  padding: 15px;
  text-align: center;
  background: rgba(255, 0, 0, 0.687);
  color: white;
  letter-spacing: 1.2px;
}

@media screen and (min-width: 800px) {
  #closed {
    padding: 20px 200px 20px 200px;
  }
}

/*  NAVBAR  */

.header {
  height: 100px;
  padding: 0 20px;
}

.header img {
  line-height: 100px;
  float: left;
  width: 150px;
  top: 5px;
  position: absolute;
}

.menu {
  float: right;
  line-height: 100px;
}

.menu a {
  color: var(--main-bg-color);
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  letter-spacing: 1.5px;
  transition: 0.1s ease-in;
}

.show-menu-btn,
.hide-menu-btn {
  transition: 0.1s ease-in;
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.show-menu-btn {
  float: right;
}

.show-menu-btn i {
  line-height: 100px;
  font-size: 30px;
}

.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
  border-bottom: 4px solid var(--second-color);
}

#chk {
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

@media screen and (max-width: 800px) {

  .show-menu-btn,
  .hide-menu-btn {
    display: block;
  }

  .show-menu-btn i {
    line-height: 40px;
    padding-top: 5px;
  }

  .header {
    height: 50px;
  }

  .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--main-bg-color);
    color: #ff9900;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s ease;
  }

  .menu a {
    display: block;
    padding: 20px;
    color: #ff9900;
  }

  .hide-menu-btn {
    position: absolute;
    top: 40px;
    right: 40px;
  }

  #chk:checked~.menu {
    right: 0;
  }
}

/* HEADER */

.header-left {
  width: 100%;
  order: 1;
}

.header-right {
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0;
  order: 2;
}

.text-header {
  padding: 20px 0;
}

.header-right h4 {
  font-size: 1.5rem;
  font-weight: 100;
  color: var(--main-bg-color);
  font-family: 'Vidaloka', serif;
}

.header-right h1 {
  font-size: 4rem;
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Vidaloka', serif;
  color: #ff9900;
}

.content-index .header-left img {
  width: 100%;
  min-width: 300px;
}

/* BANNER SOCIAL */


#banner-rate {
  background: whitesmoke;
  box-shadow: 0 0 5px rgba(83, 83, 83, 0.3);
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-items: center;
  padding: 30px;
}

#banner-rate img {
  max-width: 300px;
  max-height: 55px;
}

#banner-rate p {
  color: black;
  text-align: center;
  font-size: 2rem;
  font-weight: 100;
  font-family: -apple-system, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (max-width: 1000px) {
  #tripad {
    display: none;
    position: absolute;
  }
}

/* ABOUT */

.text-about {
  justify-items: end;
}

.text-about h1,
.apart-text h1,
#testimonials h1,
#info-contacts h2,
#map h2,
#hotel h2 {
  color: var(--second-color);
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;
}

.text-about p,
.apart-text p {
  padding: 0 100px 0 100px;
  text-align: center;
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-weight: 100;
  color: var(--main-bg-color);
}

.content-about img,
.apart-video img {
  width: 100%;
}


/* APARTMENT INDEX PAGE */

.content-about,
#apartment {
  color: var(--main-bg-color);
}

.text-about,
.apart-text {
  padding-bottom: 40px;
}

.text-about p,
.apart-text p {
  padding: 20px 30px;
}

.apart-img {
  order: 1;
}

.apart-text {
  order: 2;
}

.apart-img img {
  width: 100%;
  margin-bottom: -10px;
}

.btn-more {
  padding: 20px;
  text-align: center;
}

.btn-cont {
  text-decoration: none;
  color: var(--main-txt-color);
  background: var(--second-color);
  text-transform: uppercase;
  border-radius: 4px;
  padding: 15px 20px;
  font-size: .8rem;
  transition: 0.4s ease-in-out;
}

.btn-cont:hover,
.btn-cont:active {
  background: #da8300;
}

@media screen and (min-width: 1200px) {

  #apartment,
  .content-about,
  .content-index {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }


}

/* TESTIMONIALS */


#testimonials {
  padding: 40px 0;
  color: var(--main-bg-color);
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 100;
}

.inner {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.border {
  width: 160px;
  height: 5px;
  background: #ff9900;
  margin: 26px auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col {
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}

.testimonial {
  padding: 30px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(80, 80, 80, 0.5);
  -moz-box-shadow: 2px 2px 5px 0px rgba(80, 80, 80, 0.5);
  box-shadow: 2px 2px 5px 0px rgba(80, 80, 80, 0.5);
}

.testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  font-size: 20px;
  color: #ff9900;
  text-transform: uppercase;
  margin: 20px 0;
}

.stars {
  color: #ff9900;
  margin-bottom: 20px;
}

#testimonials .logo-review img {
  width: 100px;
}


@media screen and (max-width:960px) {
  .col {
    flex: 100%;
    max-width: 80%;
  }
}

@media screen and (max-width:600px) {
  .col {
    flex: 100%;
    max-width: 100%;
  }
}

/* --------------- APART PAGE -------------------- */


.video-apart {
  max-width: 1000px;
  height: 600px;
  margin: 0 auto;
  text-align: center;
}

.apart-info {
  padding: 40px;
  text-align: center;
  background: white;
}

.apart-txt li {
  font-size: 1.2rem;
  padding: 20px 30px;
  text-align: justify;
  max-width: 800px;
  margin: 0 auto;
}

.apart-txt span {
  font-weight: 600;
  font-size: 1.2rem;
}

.point {
  color: var(--second-color);
}

.apart-txt h5,
.imp-infos-arrive h2 {
  font-weight: 700;
  color: #ff9900;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.imp-infos-arrive p {
  padding: 10px;
  max-width: 1000px;
  margin: 0 auto;
}

.services {
  text-align: center;
  width: 100%;
  padding-top: 30px;
}

.service h3 {
  font-size: 1rem;
  font-weight: 100;
  margin: 10px 10px;
}

.service i {
  color: #ff9900;
  font-size: 22px;
  margin-bottom: 15px;
}

.cen {
  max-width: 1200px;
  margin: auto;
  padding: 10px;
}

.service {
  display: inline-block;
  width: calc(100% / 6);
  margin: 0 -2px;
  padding: 20px;
  box-sizing: border-box;
}


.imp-infos-arrive {
  text-align: center;
  padding: 60px 0 100px 0;
  background: #f1f1f1;
}

.imp-infos-arrive h5 {
  color: #ff9900;
  text-transform: uppercase;
}

@media screen and (min-width: 1100px) {}

@media screen and (max-width: 800px) {
  .service {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .service {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .video-apart iframe {
    width: 100%;
    height: 80%;
  }
}

@media screen and (max-width: 660px) {
  .video-apart {
    height: 400px;
  }

  .imp-infos-arrive {
    margin: 0 auto;
  }

  .apart-info {
    padding: 0;
  }

  .apart-li {
    visibility: hidden;
    position: absolute;
  }
}

/* --------------- PRICES INDEX------------------ */

#prices {
  text-align: center;
  padding: 80px 0 40px 0;
}

#prices h2 {
  font-size: 2rem;
  font-weight: 200;
  text-transform: uppercase;
  font-family: 'Vidaloka', serif;
  color: #ff9900;
  text-transform: italic;
  padding-bottom: 0.8em;
}

#prices p {
  font-size: 1.2rem;
  padding: 0.1em 6em 0.1em 6em;
}

#prices span {
  color: #ff9900;
}

#seasons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 5em;
  grid-gap: 100px;
  text-align: center;
  place-content: center;
}

.index-hSeason,
.index-lSeason {
  padding: 10px 20px;
  background: whitesmoke;
}

.index-hSeason h5,
.index-lSeason h5 {
  font-weight: 700;
  color: #ff9900;
  font-size: 1.2rem;
  padding-bottom: 30px;
  text-transform: uppercase;
}

.index-hSeason p,
.index-lSeason p {
  padding-bottom: 30px;
}

.index-hSeason a,
.index-lSeason a,
#prices a,
.table a {
  text-decoration: none;
  background-color: #ff9900;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  display: inline-block;
  height: 2.85em;
  line-height: 2.95em;
  margin-top: 15px;
  padding: 0 1.5em;
  white-space: nowrap;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.index-hSeason a:hover,
.index-lSeason a:hover,
#prices a:hover,
.table a:hover {
  background-color: #d88200;
}

.index-hSeason img,
.index-lSeason img {
  width: 40px;
}

@media screen and (min-width: 1200px) {

  .index-hSeason,
  .index-lSeason {
    margin: 20px 80px;
  }

  #seasons {
    max-width: 1200px;
    margin: 0 auto;
    height: 50vh;
  }
}

@media screen and (min-width: 500px) {

  #seasons {
    max-width: 1200px;
  }
}

@media screen and (max-width: 650px) {
  #seasons {
    padding: 50px 0 100px 0;
  }
}

@media screen and (max-width: 900px) {
  #prices p {
    padding: 0.1em 1em 0.1em 1em;
  }
}

@media screen and (max-width: 1200px) {
  #seasons {
    grid-template-columns: 1fr;
    margin: 20px;
  }
}

/* -------------- PRICE SEASON -------------- */


#serenity-price,
#freedom-price,
#silence-price,
#harmony-price,
#joy-price {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  margin-bottom: 60px;
}

#prices p strong {
  font-size: 1.2rem;
  color: var(--second-color);
}


.table {
  background: white;
  font-family: 'Vidaloka', serif;
  width: 100%;
  padding: 30px 0 30px 0;
}

.table h2 {
  text-transform: uppercase;
  font-size: 2.5rem;
  color: #ff9900;
}

.price {
  font-size: 4rem;
}

.price span {
  display: block;
  font-size: 20px;
  color: #ff9900;
}

.table a:hover {
  background: #ff9900;
  color: white;
}

.img-prices img {
  width: 100%;
}

@media screen and (min-width: 900px) {

  #serenity-price,
  #freedom-price,
  #silence-price,
  #harmony-price,
  #joy-price {
    padding: 20px 80px;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }

  .swap-position1 {
    order: 1;
  }

  .swap-position2 {
    order: 2;
  }
}


/* --------------- CONTACTS PAGE ------------------ */


#contact-form {
  margin-bottom: 100px;
}

.border {
  height: 2px;
  background: var(--second-color);
  color: var(--second-color);
  border: 1px solid var(--second-color) !important;
}

.contact-section {
  background-size: cover;
  padding: 20px 0;
  margin-top: 15px;
}

.contact-form {
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.contact-section h2 {
  text-align: center;
  font-size: 2rem;
}

.contact-form-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #ddd;
  padding: 20px 40px;
  outline: none;
  color: var(--main-bg-color);
  transition: 0.5s;
  border-radius: 15px;
}

.contact-form-text:hover {
  box-shadow: 0 0 10px 4px var(--second-color);
}

textarea.contact-form-text {
  resize: none;
  height: 120px;
}

.contact-form-btn {
  border: 1px solid var(--second-color);
  background: var(--main-bg-color);
  color: var(--second-color);
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.contact-form-btn:hover {
  background: var(--second-color);
  color: #120e2b;
}

#info-contacts {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background: whitesmoke;
}

#info-contacts h2 {
  margin-bottom: 75px;
}

#info-contacts h5 {
  font-weight: 300;
}

.address {
  display: grid;
  grid-template-areas: "info info info info";
}

@media screen and (max-width: 856px) {
  .address {
    grid-template-areas:
      "info info"
      "info info";
  }
}

@media screen and (max-width: 500px) {
  .address {
    grid-template-areas:
      "info"
      "info"
      "info"
      "info";
  }
}

.info-contact {
  margin-bottom: 20px;
}

.info-contact i {
  font-size: 26px;
  color: #ff9900;
}

.item__social__contact {
  text-align: center;
}

.item__social__contact .social-btn {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: whitesmoke;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px var(--main-bg-color)70;
  color: #ff9900;
  overflow: hidden;
  position: relative;
}

.item__social__contact .social-btn i {
  line-height: 50px;
  font-size: 26px;
  transition: 0.2s linear;
}

.item__social__contact .social-btn:hover i {
  transform: scale(1.3);
  color: white;
}

.item__social__contact .social-btn::before {
  content: '';
  position: absolute;
  width: 120%;
  height: 120%;
  background: #ff9900;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.item__social__contact .social-btn:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }

  50% {
    left: 10%;
    top: -30%;
  }

  100% {
    left: -10%;
    top: -10%;
  }
}

#map iframe {
  box-shadow: 2px 2px 10px var(--second-color);
  width: 100%;
  margin-top: 50px;
}

#map {
  padding-top: 20px;
  padding-bottom: 50px;
  width: 80%;
  margin: 0 auto;
}

#map h2 {
  text-align: center;
}

#hotel {
  display: grid;
  background: whitesmoke;
  grid-template-columns: 4fr [text__desc] 2.5fr [logo];
  padding-top: 100px;
  padding-bottom: 100px;
  border-bottom: 4px solid #ff9900;
}

.text__title__hotel {
  display: grid;
  grid-template-rows: auto auto 1fr;
  text-align: end;
  padding: 40px;
}

#hotel h2 {
  text-align: end;
}

@media (max-width: 900px) {
  #hotel {
    grid-template-columns: 1fr;
    padding-top: 10px;
    padding-bottom: 40px;
    justify-items: center;
  }

  .text__title__hotel {
    text-align: center;
  }

  #hotel h2 {
    text-align: center;
  }
}

#hotel em {
  padding-top: 20px;
  padding-bottom: 20px;
}

#hotel span {
  color: var(--second-color);
}

.img__hotel img {
  box-shadow: 2px 2px 10px var(--second-color);
  max-width: 300px;
  border-radius: 50%;
  margin: 0 auto;
}

/* FOOTER */

footer {
  border-top: 2px solid var(--second-color);
  padding: 10px;
  color: var(--main-bg-color);
  background: white;
  max-height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "copyr logo info"
}

footer p {
  font-size: 0.8rem;
}

footer a {
  color: var(--main-bg-color);
  font-size: 0.8rem;
}

footer ul {
  list-style-type: none;
}

footer li {
  text-indent: -1.4em;
  margin-right: 1px;
  font-size: 0.8rem;
}

.left-footer {
  grid-area: copyr;
  text-align: start;
  text-transform: uppercase;
}

.central-footer {
  grid-area: logo;
  text-align: center;
}

.central-footer img {
  max-width: 150px;
}

.powered-by {
  margin-top: 10px;
}

.powered-by a:hover {
  color: #ff9900;
}

.right__footer {
  text-align: end;
  grid-area: info;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.item__info__footer {
  grid-row: -1 / 4;
  margin: 5px;
}

.item__info__footer i {
  color: var(--main-bg-color);
}

.item__social__footer {
  text-align: start;
}

.item__social__footer .social-btn {
  display: inline-block;
  border-radius: 50%;
  color: var(--main-bg-color);
  padding: 20px;
  width: 20px;
  height: 20px;
}

.item__social__footer .social-btn:hover {
  background: #ff9900;
  color: #f1f1f1;
  transition: 0.5s;
}


.social-btn a {
  text-align: center;
}

@media screen and (max-width: 640px) {
  footer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "logo"
      "info"
      "copyr";
    place-items: center;
  }

  .header-right h1 {
    font-size: 3rem;
  }

  .content-about,
  #apartment {
    padding: 0;
  }

  .content-index .header-right {
    padding: 0;
  }

  .item__social__footer,
  .powered-by {
    text-align: center;
  }

  .right__footer {
    text-align: center;
  }

  footer li {
    text-indent: 0;
  }
}